#graph {
    background: #ebe9ed;

    display: flex;
    margin: auto;
    flex-direction: column;
}

div.plot-container.plotly {
    width: auto !important;
    margin: auto !important;
}

div#top10.js-plotly-plot {
    width: 100% !important;
    display: flex;
}

/* tspan {
    font-size: 0.7em;
} */

text.gtitle {

    font-size: 1.5em !important;

}


div#top10 text.gtitle {

    font-size: 1.2em !important;

}

div#top10 {
    margin-top: -20px;
}

div#top10 text.ytitle {

    font-size: 0.8em !important;


}

g.geolayer {
    transform: translateY(10px);
}

g.g-ytitle {
    transform: translateY(-10px) translateX(-8px);
}

text.hycb901233title {

    font-size: 0.8em !important;


}

g.cbtitle text {
    font-size: 0.8em !important;
    transform: rotate(-90deg) translateY(-180px) translateX(-390px);
}