h2,
h3 {
    margin: 0;
}

h2 {
    font-size: xx-large;
    color: #000000;
    margin-bottom: 3px;
    margin-top: 10px;
}

h3 {
    font-size: medium;
    color: #980a0a;
}

.title {
    position: absolute;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

#graph {
    background: #ebe9ed;

    display: flex;
    margin: auto;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: #e0e0e1;
}

.main {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 1fr auto;
    column-gap: 5px;
}

div#choroplethMap {
    margin: 0px;
    height: auto;
    /* min-width: 800px; */
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
}

div#choroplethMap {
    width: min-content;
}

div#lineGraph {
    background-color: white;
    height: auto;
    /* max-width: 95%;
    width: 95%; */
    width: min-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

div#rightSide {
    height: 520px;
    display: flex;
    flex-direction: column;
    background-color: #c33030;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: min-content;

}

div#info {
    background-color: #c33030;
    flex: 1;
    border-radius: 20px;
    padding: 2%;
}



div.plot-container.plotly {
    width: auto !important;
    margin: auto !important;
}

/* tspan {
    font-size: 0.7em;
} */

text.gtitle {

    font-size: 1.5em !important;
    fill: #10071d !important;

}


/* g.geolayer {
    transform: translateY(10px);
}

g.g-ytitle {
    transform: translateY(-10px) translateX(-8px);
} */

text.hycb901233title {

    font-size: 0.8em !important;


}

g.cbtitle text {
    font-size: 0.8em !important;
    transform: rotate(-90deg) translateY(-180px) translateX(-390px);
}

/* .line-graph-container {
    margin: auto;
    align-items: center;
    justify-content: center;

} */

div#choroplethMapContainer,
div#lineGraphContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

div#lineGraphContainer {
    justify-content: start;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

div#choroplethMapContainer {
    justify-content: center;

}



/* #lineGraph {
    margin: auto;
    padding-top: 15%;
} */


g.slider-group {
    transform: translateX(45px) translateY(440px);
}


g.trace.scatter.traceSELECTED100>g.lines>path.js-line {
    stroke: url(#verticalGradient100) !important;
    outline: 2px solid white;
}

g.trace.scatter.traceSELECTED40>g.lines>path.js-line {
    stroke: url(#verticalGradient40) !important;

}

g.trace.scatter.traceSELECTED20>g.lines>path.js-line {
    stroke: url(#verticalGradient20) !important;

}

g.trace.scatter.traceSELECTED10>g.lines>path.js-line {
    stroke: url(#verticalGradient10) !important;

}